<div class="regi">
  <img src="http://static.ftchinese.com/img/AD/estate_201710/05.jpg" alt="picCut">
  <form id="regiForm">
    <div class="form-left">
      <div class="form-input">
        <input type="text" id="name" placeholder="请填写真实姓名">
      </div>
      <div class="form-input">
        <input type="tel" id="phone" placeholder="请填写真实手机号">
      </div>
      <div class="form-word">
        <p>报名即享1%专属折扣</p>
      </div>
    </div>
    <div class="form-right">
      <div class="form-button">
        <button id="submit" type="button" data-code="FTCC5056EBAE6">即刻<br>报名</button>
      </div>
    </div>
  </form>
</div>