{% extends "base.html" %}

{% block content %}
  <div class="main">
    <div class="img-container">
      <img src="http://static.ftchinese.com/img/AD/estate_201710/01.jpg" alt="picCut">
      <img src="http://static.ftchinese.com/img/AD/estate_201710/02.jpg" alt="picCut">
      <img src="http://static.ftchinese.com/img/AD/estate_201710/03.jpg" alt="picCut">
      <img src="http://static.ftchinese.com/img/AD/estate_201710/04.jpg" alt="picCut">
    </div>

    {% include "partials/register.html" %}
   
  </div>

  <div class="footer">
    <a href="tel:400 748 8840">
      <img src="http://static.ftchinese.com/img/AD/estate_201709/tel.png" alt="tel">
    
      <span>立即咨询</span>

    </a>
  </div>
{% endblock %}