{% extends "base.html" %}

{% block content %}
  <div class="main">
    <div class="img-container">
      <img src="01.jpg" alt="picCut">
      <img src="02.jpg" alt="picCut">
      <img src="03.jpg" alt="picCut">
      <img src="04.jpg" alt="picCut">
      <img src="05.jpg" alt="picCut">
      <img src="06.jpg" alt="picCut">
      <img src="07.jpg" alt="picCut">
      <img src="08.jpg" alt="picCut">
      <img src="09.jpg" alt="picCut">
      <img src="10.jpg" alt="picCut">
      <img src="11.jpg" alt="picCut">
      <img src="12.jpg" alt="picCut">
      <img src="13.jpg" alt="picCut">
      <img src="14.jpg" alt="picCut">
      <img src="15.jpg" alt="picCut">
      <img src="16.jpg" alt="picCut">
      <img src="17.jpg" alt="picCut">
      <img src="18.jpg" alt="picCut">
      <img src="19.jpg" alt="picCut">
      <img src="20.jpg" alt="picCut">
    </div>

    {% include "partials/register.html" %}
    <div class="img-container">
      <img src="22.jpg" alt="picCut">
    </div>
  </div>

  <div class="footer">
  </div>
{% endblock %}